<h1>Files</h1>

<%= link_to 'New User Asset', new_user_asset_path %>


<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>File Name</th>
    <th></th>
    <th></th>
  </tr>

<% @user_assets.each do |asset| %>
  <tr>
    <td><%= link_to asset.name, asset %></td>
    <td><%= link_to 'Edit', edit_user_asset_path(asset) %>
  <td><%= link_to 'Destroy', asset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

