<p>
  <b>File Name:</b>
  <%= File.basename(@user_asset.file_name.to_s) %>
</p>


<div class="row">

  <% (0..10).each do | offset | %>
    <img src="<%= user_asset_frame_path(@user_asset.id, offset, :format => 'jpeg') %>">
  <% end %>

</div>
<div class="row">

<div class="span12">
  <div id="viewer">
    <%= display_asset(@user_asset) %>
  </div>
</div>
</div>
