<h1>Welcome to the Cove Elan System</h1>

<h3>Choose Something</h3>
<p><%= link_to :corpora, corpora_path %></p>
<p><%= link_to :projects, elan_parser_db_projects_path %></p>
<p><%= link_to :documents, elan_parser_db_documents_path %></p>
