<p id="notice"><%= notice %></p>

<p>
  <b>File Name:</b>
  <%= File.basename(@work_document.document.eaf.to_s) %>
</p>

<div class="row">

  <div class="span4">stuff goes here </div>
  <div class="span8">
  <div id="viewer"></div>
  </div>
</div>

<script>
  $().DocViz( <%= @work_document.document.annotations.to_json.html_safe %>,
              <%= @work_document.document.tiers.to_json.html_safe %>)
</script>

