<p>
  <b>File Name:</b>
  <%= File.basename(@work_document.document.eaf.to_s) %>
</p>

<div class="row">

<div class="span12">
<div id="viewer"></div>
</div>
</div>
<script>
$().conBrio( <%= @work_document.document.annotations.to_json.html_safe %>,
            <%= @work_document.document.tiers.to_json.html_safe %>)

</script>


