<p id="notice"><%= notice %></p>

<p>
  <b>File Name:</b>
  <%= @document.file_name %>
</p>

<%= link_to 'Edit', edit_elan_parser_db_document_path(@document) %> |
<%= link_to 'Back', elan_parser_db_documents_path %>
