/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
*/

body {
padding-top: 60px;
}


.avatar {
margin-top: 10px;
border-radius: 3px;

}

 .view-document-link:hover {
   color: red;
  background-color: rgba(255,0,0,.25);
}


.wrapper {
	width: 960px;
}

.float {
	float: left;
}

.welcome_portlet {
	width: 33%
}

  #viewer {
    position: fixed;
  }
    
