/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require full_control
 *= require video-js
 *= require_self
 *= require_tree .
*/
/* borrowed from https://gist.github.com/1953801#file_gistfile1.html */


		  html, body { height: 100%; }

			footer {
				padding: 0 10px 0 10px;
				border-top: 1px solid #eee;
				color: white;
				background-color: black;
			}

			footer > p {
				margin-bottom: 11px;
				margin-top: 13px;
			}

		.wrapper {
				min-height: 100%;
				height: auto !important;
				height: 100%;
				margin: 0 auto -43px;
			}
     
     
      /* Just some arbitrary space to add between footer and rest of the content, when they are close */
      
.detail .domain {
 fill: blue;
 fill-opacity: 0.2;
 height: 20px;
}

#user-menu {
margin-right: -10px;
}

#user-menu .navbar-form input.nav-dark {
padding: 4px 9px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 1;
color: white;
color: rgba(255, 255, 255, 0.75);
background: #666;
background: rgba(255, 255, 255, 0.3);
border: 1px solid #111;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}

#user-menu .navbar-form input {
  width: 100px;
}

body {
padding-top: 60px;
}


.avatar {
margin-top: 10px;
border-radius: 3px;

}

 .view-document-link:hover {
   color: red;
  background-color: rgba(255,0,0,.25);
}




.float {
	float: left;
}

.welcome_portlet {
	width: 33%
}



svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill: blue;
  fill-opacity: 0.2;
  shape-rendering: crispEdges;
}

 div.container.card {
  background: white;
  box-shadow: 3px 3px 26px rgba(50, 50, 50, 0.75);
  height: 550px;
  padding: 20px;
 }

 .main {
position:fixed;
width: 480px;
 }

#meta_nav {
position:fixed;
}

 .smallish {
font-size: 50%;
color: red;
 }

 #metadata {
  height: 100%;
   border-left: 1px solid;
   padding-left: 5px;
   margin-left: 214px;
  border-right: 1px solid;
  margin-right: -1px;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 550px;
   }
