/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require full_control
 *= require video-js
 *= require_self
 *= require_tree .
*/
/* borrowed from https://gist.github.com/1953801#file_gistfile1.html */



      
.detail .domain {
 fill: blue;
 fill-opacity: 0.2;
 height: 20px;
}

#user-menu {
margin-right: -10px;
}

#user-menu .navbar-form input.nav-dark {
padding: 4px 9px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 1;
color: white;
color: rgba(255, 255, 255, 0.75);
background: #666;
background: rgba(255, 255, 255, 0.3);
border: 1px solid #111;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}

#user-menu .navbar-form input {
  width: 100px;
}

body {
padding-top: 60px;
}


.avatar {
margin-top: 10px;
border-radius: 3px;

}

 .view-document-link:hover {
   color: red;
  background-color: rgba(255,0,0,.25);
}




.float {
	float: left;
}

.welcome_portlet {
	width: 33%
}



svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill: blue;
  fill-opacity: 0.2;
  shape-rendering: crispEdges;
}

 div.container.card {
  background: white;
  box-shadow: 3px 3px 26px rgba(50, 50, 50, 0.75);
  padding: 0px 20px;
  padding-bottom: 70px;
  margin-bottom: 20px;
 }

 .smallish {
font-size: 50%;
color: red;
 }


legend i.icon-list {
  vertical-align: baseline;
}

