body {
background: #777777;
}
.navbar-inner {
background: image-url("px_by_Gre3g.png")
}

section .card {
background: white;
}

.navbar .nav > li > a  {
color: #DDDDDD;
font-weight: 500;
}

#user-menu a.view_user {
color: #48C;
}

#alerts .alert {
float:right
}
